/* Body Style */

body {
  margin: 0;
  font-family: 'arial', 'san-serif';
  font-size: 14px;
}

/* Navigation */

.navigation-container {
  border-bottom: 1px solid #000000;
  background: #2d2d2d;
}

.nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav > li {
  display: inline-block;
}

.nav > li > a {
  display: block;
  padding: 10px;
  color: #bbbbbb;
  text-decoration: none;
}

.nav > li > .active,
.nav > li > a:hover {
  color: #ffffff;
}

/* Search Box */

.search-container {
  padding: 20px 10px;
  border-bottom: 1px solid #e5e5e5;
  background: #f4f4f4;
}


.search-form {
  margin: 0;
}

/* Filters Navigation */
.filters-container {
  border-bottom: 1px solid #bebebe;
  background: #fff;
}

.filter-nav {
  padding: 0;
  margin-left: 128px;
  list-style: none;
}

.filter-nav> li {
  display: inline-block;
}

.filter-nav > li > a {
  display: block;
  margin-right: 8px;
  padding-right: 8px;
  color: #777;
  text-decoration: none;
}

.filter-nav > li > a.active, {
  color: #dd4b39;
}
.filter-nav > li > a:hover {
  color: #000;
}

/* Content and links */

h3 {
  padding-top: 18px;
  margin: 0;
  color: #2518b5;
}

.main-container {
  background: #fff;
  padding: 0;
  margin-left: 128px;
  list-style: none;
  width: 499px;
}
.content-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}


.content-nav > li > a {
  display: block;
  padding: 0;
  color: #00802a;
  text-decoration: none;
}

.content-nav > li > .active,
.content-nav > li > a:hover {
  color: #00802a;
}