/* Body Style */

body {
  margin: 0;
  font-family: 'arial', 'san-serif';
  font-size: 14px;
}

/* Navigation */

.navigation-container {
  border-bottom: 1px solid #000000;
  background: #2d2d2d;
}

.nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav > li {
  display: inline-block;
}

.nav > li > a {
  display: block;
  padding: 10px;
  color: #bbbbbb;
  text-decoration: none;
}

.nav > li > .active,
.nav > li > a:hover {
  color: #ffffff;
}

/* Search Box */

.search-container {
  padding: 20px 10px;
  border-bottom: 1px solid #e5e5e5;
  background: #f4f4f4;
}


.search-form {
  margin: 0;
}